body {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  font-family: "Phosphate", sans-serif; /*"Russo One", sans-serif;*/
  background-color: floralwhite;
}

canvas {
  background-image: url(./bckg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 70px;
  color: rgb(96, 35, 35);
  text-shadow: 2px 2px black;
  justify-content: center;
}

/*h1 {
  letter-spacing: 3px;
  color: rgb(96, 35, 35);
  text-shadow: 2px 2px black;
  font-size: 60px;
  width: 400px;
  justify-content: center;
  text-align: center;
  font-family: "Phosphate", sans-serif;*/
}

#game-board {
  float: left;
  border-radius: 10px solid black; //colocar borda no jogo?
}

.intro-text {
  color: #870007;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}
