body {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  font-family: "Russo One", sans-serif;
}

canvas {
  background-image: url(./bckg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  letter-spacing: 3px;
  color: rgb(96, 35, 35);
  text-shadow: 2px 2px black;
  font-size: 60px;
  width: 400px;
  justify-content: right;
  text-align: center;
}

#game-board {
  float: left;
  border-radius: 2px solid black;
}

.intro-text {
  color: #870007;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  padding-left: 20px;
}
